Package: trsh
Version: 3.9-25
Architecture: all
Maintainer: Amithash Prasad <aeprasad@linux-3lk6>
Installed-Size: 100
Section: utils
Priority: extra
Description: A Trash manager aliased to rm.
 Trsh is a trash manager with an attitude! Once aliased to rm
 it provides a full wrapper to rm enabling the user to use it
 just like he/she would with rm, with extra features like trash
 listing, undo, recover, etc etc.
