[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/all
X-KDE-Priority=TopLevel
Actions=Delete;Undo

[Desktop Action Delete]
Name=Delete File
Icon=user-trash
Exec=/usr/bin/trsh.pl %U


