[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/all
X-KDE-Priority=TopLevel
Actions=Delete;Ktrsh;

[Desktop Action Delete]
Name=Delete File
Icon=user-trash
Exec=/usr/bin/trsh.pl -r %U

[Desktop Action Ktrsh]
Name=Launch ktrsh
Icon=user-trash
Exec=/usr/bin/ktrsh %U
